[Unit]
Description=zdx's distributed currency daemon
After=network.target

[Service]
User=zdx
Group=zdx

Type=forking
PIDFile=/var/lib/zdxd/zdxd.pid

ExecStart=/usr/bin/zdxd -daemon -pid=/var/lib/zdxd/zdxd.pid \
          -conf=/etc/zdx/zdx.conf -datadir=/var/lib/zdxd

ExecStop=-/usr/bin/zdx-cli -conf=/etc/zdx/zdx.conf \
         -datadir=/var/lib/zdxd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
